# this file should go in /etc/systemd/system/duobot.service
# the python script should go in a folder /usr/local/bin/duobot/, along with
# a valid .env file

[Unit]
Description=Duolingo Bot
After=default.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/lib/duobot/main.py
Restart=on-abnormal


[Install]
WantedBy=multi-user.target
